# Virtual Environment
atlan_venv/
other test code/
venv/
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Logs
logs/app.log
app.log
# OS files
.DS_Store
Thumbs.db

__pycache__/
*.pyc
logs/
*.log